body {
  background-color: #CCCCCC;
  font-family: arial, sans-serif;
  margin: 0 auto;
}
.header{
  width: 100%;
  margin: 0 auto;
  height: 30px;
  background-color: #666666;
  text-align: center;
  position: fixed;
  color: #ffffff;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.content {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  height: 800px;
  background-color: #003388;
}

